.block__color {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
}
.block__colors {
  display: flex;
  column-gap: 10px;
}
.block__choose {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.block__choose::after {
  content: '✓';
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}