.block__auth {
    display: flex;
    align-items: center;
    height: 100%;
    column-gap: 15px;
    justify-content: flex-end;
    transition: all 100ms linear;
}
.block__auth ul:hover {
    background: #7f8ff4;
}
.block__auth ul {
    height: 80px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms linear;
    cursor: pointer;
}
